body {
    background-image: url("coffee.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 300px;
    height: 100vh;

}

h1,h2,p{
    text-shadow: 10px 10px 30px black;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    
}

#increment-btn {
    background: orange;
    
}

#save-btn {
    background: orange;
}

.hero{
    max-width: 80%;
    margin: auto;
    border: 5px solid orange;
    border-radius: 10px;
    opacity: 90%
    
}

